#ignore generated .pyc files
*.pyc
#ignore generated .txt files in Program 2 and 3
Program 2/*.txt
Program 3/*.txt
#ignore windows and bash scripts
*.bat
*.sh
#ignore .log files
*.log
#ignore everything in the 'mark' directory
Program 2/mark/
Program 3/mark/
#ignore Program 3 test file
Program 3/Test.py
#ignore program3 diff files
Program 3/*.diff
Program 3/diff/*.diff
